.width-100{width: 100%;}
.img-index-post{
	height: 180px;
}

.btn-blog{
	color: #343a40;
	border-color: #dee2e6;;
}

.btn-blog:hover{
	background-color: rgba(0,0,0,.03);
	color:#212529;
	border: 1px solid rgba(0,0,0,.125);
}

.img-avatar{
	height: 50px;
	width: 50px;
}